# SQL(Structured Query Language)
- ë°ì´í„°ë² ì´ìŠ¤(DB)ì—ì„œ ë°ì´í„°ë¥¼ ì¡°íšŒí•˜ê³ ì í•  ë•Œ í•„ìš”í•œ ì»´í“¨í„° ì–¸ì–´.
- DBë¥¼ íŠ¹ì • ì–¸ì–´ë¡œ ì¡°íšŒí•´ì„œ ê°€ì ¸ì˜¤ëŠ”ë°, ê·¸ë•Œ ì‚¬ìš©í•˜ëŠ” ì–¸ì–´ê°€ ë°”ë¡œ SQLì„.
- í…Œì´ë¸”ì„ ì‚½ì…í•˜ê±°ë‚˜ ì‚­ì œ, ê°±ì‹ , ì¡°íšŒí•˜ëŠ” ë“± ë³¸ì¸ì´ ì›í•˜ëŠ” í˜•íƒœë¡œ ë°ì´í„°ë¥¼ ë§Œë“¤ì–´ ê°€ì ¸ì˜¬ ìˆ˜ ìˆìŒ.

## Python Database API(DB-API)
- DBë¥¼ ì—°ê²°í•œë‹¤.
- SQLë¬¸ì„ ì‹¤í–‰í•œë‹¤.
- DB ì—°ê²°ì„ ë‹«ëŠ”ë‹¤.
- íŒŒì´ì¬ DB-APIëŠ” ê¸°ë³¸ì ìœ¼ë¡œ PEP249 ì¸í„°í˜ì´ìŠ¤ë¥¼ ë”°ë¥´ë„ë¡ ê¶Œì¥.
- ê° DBì— ìƒì‘í•˜ëŠ” ë³„ë„ì˜ DB ëª¨ë“ˆì„ ë‹¤ìš´ë°›ì•„ì•¼í•¨.
- íŒŒì´ì¬ì€ MySQL, PostgreSQL, MSSQL, Sqlite, Oracle, Sybase, informix, mSQL ë“± ëŒ€í‘œì ì¸ DBë¥¼ ëª¨ë‘ Python DB-APIë¥¼ í†µí•´ ì§€ì›í•¨.

## SQLite
- ì„œë²„ì˜ í•„ìš” ì—†ì´ DBì˜ íŒŒì¼ì— ê¸°ì´ˆí•˜ì—¬ DB ì²˜ë¦¬ë¥¼ êµ¬í˜„í•œ ì„ë² ë””ë“œ SQL DB ì—”ì§„.
- íŒŒì´ì¬ê³¼ DBëŠ” sqlite3ë¼ëŠ” ì „í™” ì¤‘ê³„ê¸°ë¥¼ ì´ìš©í•´ ëŒ€í™”ë¥¼ í•¨.
- sqlite3 ëª¨ë“ˆì€ íŒŒì´ì¬ í‘œì¤€ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¡œ SQLiteì— ëŒ€í•œ ì¸í„°í˜ì´ìŠ¤ë¥¼ ê¸°ë³¸ì ìœ¼ë¡œ ì œê³µí•¨.

In [1]:
import sqlite3
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [2]:
#connì— DB ì´ë¦„ì„ ì •í•˜ì—¬ ì…ë ¥.
#[ì´ë¦„].[í™•ì¥ìëª…]ì˜ í˜•íƒœë¡œ ì €ì¥.

import os
db_path = os.getenv('HOME')+'/mydb.db'

#mydb.dbì— ì—°ê²°.
conn = sqlite3.connect(db_path)  
print(conn)

<sqlite3.Connection object at 0x7fb772258490>

- conn ê°ì²´ì—ëŠ” SQL ì—°ê²°ê³¼ ê´€ë ¨ëœ ì…‹íŒ…ì´ í¬í•¨ë˜ì–´ ìˆìŒ.

In [3]:
#Connect() í•¨ìˆ˜ì˜ ì—°ê²°ì„ ì‚¬ìš©í•˜ëŠ” ìƒˆë¡œìš´ Cursor ê°ì²´ ìƒì„±.
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7fb7721d3730>

- CursorëŠ” SQL ì§ˆì˜(Query)ë¥¼ ìˆ˜í–‰í•˜ê³  ê²°ê³¼ë¥¼ ì–»ëŠ”ë° ì‚¬ìš©í•˜ëŠ” ê°ì²´.
- SELECTì™€ ê°™ì´ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ë•ŒëŠ” SQL ì§ˆì˜ ìˆ˜í–‰ ê²°ê³¼ì— ì ‘ê·¼í•˜ê¸° ìœ„í•œ Cursorê°€ ë°˜ë“œì‹œ í•„ìš”í•¨.
- ë•Œë¬¸ì— ìŠµê´€ì ìœ¼ë¡œ conn.cursor()ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ìŒ.

In [4]:
#ì§ˆì˜ì˜ ì‹¤í–‰ì€ execute()ë¥¼ ì´ìš©

#stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±. ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµ. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

#stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

#ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„° ì¡°íšŒ.
c.execute("SELECT * FROM stocks")

#ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

## commit
- conn.commit()ë¥¼ í˜¸ì¶œí•´ì•¼ DBê°€ ì‹¤ì œë¡œ ì—…ë°ì´íŠ¸ ë¨.
- commit()ì„ í•˜ê¸° ì „ì—ëŠ” DBì— ë°ì´í„°ê°€ ì—…ë°ì´íŠ¸ëœ ê²ƒ ê°™ì•„ ë³´ì—¬ë„ ì„ì‹œë¡œë§Œ ë°”ë€ ê²ƒì´ë‹ˆ ì£¼ì˜í•´ì•¼ í•¨.
- onnectionì„ í†µí•´ ì¸ì„œíŠ¸ ëœ ë°ì´í„°ëŠ” conn.commit()ë¥¼ í˜¸ì¶œí•˜ê¸° ì „ê¹Œì§€ëŠ” ê·¸ connection ì•ˆì—ì„œë§Œ ìœ íš¨í•¨.
- ë•Œë¬¸ì— ì›ë³¸ ë°ì´í„°ì— ì‹¤ì œë¡œ ì ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” commit() ëª…ë ¹ì–´ë¥¼ ì´ìš©í•˜ë©´ ë¨.
- selectì²˜ëŸ¼ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ê¸°ë§Œ í•˜ëŠ” ê²½ìš°ì—ëŠ” commit() í•„ìš” ì—†ìŒ.

In [5]:
conn.commit()   #commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì„. 
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

- commit()ì„ í†µí•´ ë°ì´í„°ë² ì´ìŠ¤ì— ë°ì´í„° ë³€ê²½ì´ ì‹¤ì œì ìœ¼ë¡œ ë°˜ì˜ë˜ì—ˆìŒ.
- ì´ëŸ° ê²ƒì„ ë°ì´í„°ë² ì´ìŠ¤ì—ì„œëŠ” íŠ¸ëœì­ì…˜(transaction) ê´€ë¦¬ë¼ê³  í•¨.

In [6]:
c.close()      #ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()    #DB ì—°ê²°ì„ ë‹«ìŒ.
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

## DDLë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±

In [7]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›Œì¤ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#----- 1st table : ë„ì„œëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸ : í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥ (ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
#í…Œì´ë¸”ì´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë©´ ìƒì„±, ë³€ìˆ˜ëª…ê³¼ ë³€ìˆ˜ íƒ€ì…ì€ ì•„ë˜ì™€ ê°™ì´ ì„¤ì •
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")    #í…Œì´ë¸”ì€ ë„ì„œëª… í…Œì´ë¸”ì´ ë˜ëŠ” ê²ƒ

#ê° ë³€ìˆ˜ëª…ì— ë§ê²Œ ë°ì´í„°ë¥¼ ì‹¤ì œë¡œ ìƒì„±
data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

#ê° í…Œì´ë¸”ì˜ ë³€ìˆ˜ì— ìœ„ì—ì„œ ì…ë ¥í•œ ë°ì´í„°ë¥¼ ë„£ìŒ
c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)    #executemany()ëŠ” í•œêº¼ë²ˆì— ì—¬ëŸ¬ê°œì˜ ë°ì´í„° ì²˜ë¦¬ë¥¼ ê°€ëŠ¥í•˜ê²Œ í•¨.
                                                          #ì…ë ¥í•´ì•¼ í•  ë°ì´í„°ë¥¼ listë¡œ ê´€ë¦¬í•˜ê³  ìˆëŠ” ê²½ìš° ë§¤ìš° ìœ ìš©í•¨.
#--------------------------------------#

conn.commit()
conn.close()
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [8]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

## ì¿¼ë¦¬ ê¸°ë³¸ êµ¬ì¡°
- SELECT ~ : ì¡°íšŒí•  ì»¬ëŸ¼ëª…ì„ ì„ íƒ
- FROM ~ : ì¡°íšŒí•  í…Œì´ë¸”ëª…ì„ ì§€ì • (ìœ„ì¹˜ì™€ í…Œì´ë¸”ëª…ì„ ì…ë ¥)
- WHERE ~ : ì§ˆì˜í•  ë•Œ í•„ìš”í•œ ì¡°ê±´ì„ ì„¤ì •
- GROUP BY ~ : íŠ¹ì • ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹ì„ ì§€ì–´ ì¶œë ¥
- ORDER BY ~ : SELECT ë‹¤ìŒì— ì˜¤ëŠ” ì»¬ëŸ¼ ì¤‘ ì •ë ¬ì´ í•„ìš”í•œ ë¶€ë¶„ì„ ì •ë ¬ (ê¸°ë³¸ ì„¤ì • : ì˜¤ë¦„ì°¨ìˆœ)
- LIMIT ìˆ«ì : Displayí•˜ê³ ì í•˜ëŠ” í–‰ì˜ ìˆ˜ë¥¼ ì„¤ì •

In [9]:
#- ì°¸ê³  : ì‹¤ì œ ì¡°íšŒë¥¼ í•´ë³´ë ¤ë©´ ì•„ë˜ì²˜ëŸ¼ ì“°ë©´ ë©ë‹ˆë‹¤.
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ë©´ ë©ë‹ˆë‹¤.

import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

#- ! ì¶œë ¥ ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

In [10]:
#ì „ì²´ ì¡°íšŒ
#ë³„(*)ì„ ì…ë ¥í•˜ê²Œ ë˜ë©´ 'í…Œì´ë¸” ì „ì²´ë¥¼ ë‹¤ ê°€ì ¸ì™€ë¼'ë¼ëŠ” ëª…ë ¹ì–´ê°€ ë¨.
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

In [11]:
#íŠ¹ì • ì¹¼ëŸ¼ ì§€ì •
for row in c.execute('SELECT ID FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

('101',)
('101',)
('102',)
('102',)
('103',)
('104',)

In [12]:
#ì¡°ê±´ ì…ë ¥
#WHEREì ˆ ì´í›„ì—ëŠ” íŠ¹ì • ì¡°ê±´ì„ ì…ë ¥í•  ìˆ˜ ìˆìŒ.
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ì´ë¦„ = "ë¬¸ê°•íƒœ";'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')

In [13]:
#GROUP BYë¡œ ì¤‘ë³µ ì œê±°
#GROUP BYëŠ” ì´ë¦„ ê·¸ëŒ€ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”ì‹œí‚¤ëŠ” ì—­í• .
for row in c.execute('SELECT ì´ë¦„ FROM ë„ì„œëŒ€ì¶œë‚´ì—­ GROUP BY ì´ë¦„;'):
  print(row)
#'ê°€ë‚˜ë‹¤ë¼' ìˆœìœ¼ë¡œ ì¬ì •ë ¬í•´ì„œ ì¶œë ¥í•¨.

('ê°•ê¸°ë‘¥',)
('ê³ ë¬¸ì˜',)
('ë¬¸ê°•íƒœ',)
('ë¬¸ìƒíƒœ',)

In [14]:
#DISTINCTë¡œ ì¤‘ë³µ ì œê±°
#DISTINCTë¥¼ íŠ¹ì • ì»¬ëŸ¼ ì•ì— ì“°ë©´ í•´ë‹¹ ì»¬ëŸ¼ ê°’ ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ê°’ë“¤ì„ ëª¨ë‘ ì œê±°í•œ í›„ ì¶œë ¥
for row in c.execute('SELECT DISTINCT ì´ë¦„ FROM ë„ì„œëŒ€ì¶œë‚´ì—­;'):
  print(row)

('ë¬¸ê°•íƒœ',)
('ê³ ë¬¸ì˜',)
('ë¬¸ìƒíƒœ',)
('ê°•ê¸°ë‘¥',)

In [16]:
#ORDER BYë¡œ ì •ë ¬
#ORDER BY ë’¤ì— íŠ¹ì • ì»¬ëŸ¼ëª…ì„ ì ìœ¼ë©´, ê·¸ ì»¬ëŸ¼ì„ ê¸°ì¤€ ê°’ìœ¼ë¡œ ì •ë ¬.
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ ORDER BY ID ;'):   #ì „ì²´ ì»¬ëŸ¼ì„ ê°€ì ¸ì˜¤ë˜ IDë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í•˜ë¼ëŠ” ì˜ë¯¸ê°€ ë¨.
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

- ORDER BY ë’¤ì—ëŠ” (ASC)ê°€ ìƒëµë˜ì–´ ìˆìŒ.
- ì˜¤ë¦„ì°¨ìˆœì´ ê¸°ë³¸ ì„¤ì •ì¸ ê²ƒ.
- ë‚´ë¦¼ì°¨ìˆœì€ DESC.

In [17]:
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ ORDER BY ID DESC ;'):
  print(row)

('104', 'ê°•ê¸°ë‘¥', None, None, None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')

In [18]:
#ëª‡ ê°œì˜ rowë§Œ ì¡°íšŒ
#LIMIT êµ¬ë¬¸ ë’¤ì— ìˆ«ìë¥¼ ì ìœ¼ë©´ ê·¸ ìˆ«ìë§Œí¼ì˜ í–‰(row)ë§Œ ì¶œë ¥ë¨.
#ì£¼ë¡œ ì²˜ìŒ í…Œì´ë¸”ë“¤ì„ ì¡°íšŒí•  ë•Œ ê·¸ í…Œì´ë¸”ì˜ êµ¬ì¡°ë¥¼ íŒŒì•…í•˜ê³ , ì–´ë–¤ ê°’ë“¤ì´ ì¡´ì¬í•˜ëŠ”ì§€ë¥¼ ìƒ˜í”Œë¡œ íŒŒì•…í•˜ê³ ì í•  ë•Œ ì‚¬ìš©.
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ LIMIT 5 ;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')

In [22]:
for row in c.execute('SELECT ì´ë¦„, ëŒ€ì¶œì¼, ë°˜ë‚©ì¼ FROM ë„ì„œëŒ€ì¶œë‚´ì—­ ORDER BY ëŒ€ì¶œì¼ DESC LIMIT 1;') :
    print(row)

('ë¬¸ê°•íƒœ', '2020-06-20', '2020-06-25')

## data type

In [23]:
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼')
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼')
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼')

In [24]:
#ë°ì´í„° íƒ€ì… í™•ì¸
import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  #mydb.dbì— ì—°ê²°.
c = conn.cursor()

for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, 'ì´ë¦„', 'varchar', 0, None, 0)
(2, 'ë„ì„œID', 'varchar', 0, None, 0)
(3, 'ëŒ€ì¶œì¼', 'varchar', 0, None, 0)
(4, 'ë°˜ë‚©ì¼', 'varchar', 0, None, 0)

- varchar : ë¬¸ìí˜•
- ëŒ€ì¶œì¼ìˆ˜ë¥¼ ìˆ«ìë¡œ ë°”ê¾¸ê¸° ìœ„í•´ 'ì¼'ì„ ë°ì–´ë‚¼ ê²ƒ.
- SQLiteë¥¼ ì‚¬ìš©í•˜ë‹ˆê¹Œ SUBSTR()ì„ ì‚¬ìš©.
- ìë¦¬ìˆ˜ê°€ ë‹¤ë¥¸ ê²½ìš° length-1ì„ í•´ë„ ë˜ì§€ë§Œ split_part()ë¥¼ ì‚¬ìš©í•  ìˆ˜ë„ ìˆìŒ.

In [25]:
for row in c.execute('SELECT *, SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼', '20')
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼', '10')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼', '8')
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼', '3')

In [26]:
#CASTë¡œ ì˜ë¼ë‚¸ ë¶€ë¶„ì— ë”í•´ ìˆ«ìë¡œ ë³€í™˜.
for row in c.execute('SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 ;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼', 20)
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼', 10)
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼', 8)
('104', 'ê°•ê¸°ë‘¥', '2020-06', '3ì¼', 3)

In [27]:
#í•„ìš”í•œ ì¹¼ëŸ¼ë§Œ ê°€ì ¸ì˜´.
for row in c.execute('SELECT ID, ì´ë¦„, ëŒ€ì¶œë…„ì›”, AVG(CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT)) AS ëŒ€ì¶œì¼ìˆ˜_í‰ê·  FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 GROUP BY 1,2,3;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', 20.0)
('102', 'ê³ ë¬¸ì˜', '2020-06', 10.0)
('103', 'ë¬¸ìƒíƒœ', '2020-06', 8.0)
('104', 'ê°•ê¸°ë‘¥', '2020-06', 3.0)

## WHERE ì¡°ê±´
- íŠ¹ì • ë¬¸ìë¥¼ í¬í•¨í•˜ëŠ” rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ
- íŠ¹ì • ê¸°ê°„ í˜¹ì€ íŠ¹ì • ë‚ ì§œì˜ ì „ ë˜ëŠ” ì´í›„ì˜ rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ
- íŠ¹ì • ìˆ«ì ì´ìƒ ë˜ëŠ” ì´í•˜ì˜ rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ   
WHERE ì¡°ê±´ì ˆ ì•ˆì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ.

### 1. íŠ¹ì • ë¬¸ìë¥¼ í¬í•¨í•˜ëŠ” rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ

In [28]:
#ë¬¸ì”¨ í˜•ì œì˜ ê²°ê³¼ë§Œ ê°€ì ¸ì˜¤ê¸°
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 WHERE ì´ë¦„ LIKE "ë¬¸%" ;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼')
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼')

- LIKEëŠ” ë¬¸ìì—´ ì»¬ëŸ¼ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ê²ƒìœ¼ë¡œ í•´ë‹¹ ë¬¸ìë¥¼ í¬í•¨ ë˜ëŠ” í•´ë‹¹ ë¬¸ìë¡œ ì‹œì‘ ë˜ëŠ” ì¢…ë£Œí•˜ëŠ” ê²ƒì„ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆìŒ.
- "ë¬¸%"ì€ 'ë¬¸'ìœ¼ë¡œ ì‹œì‘í•˜ëŠ” ëª¨ë“  ë¬¸ìì—´ì„ ë‹¤ ê°€ì ¸ì˜¤ë¼ëŠ” ëª…ë ¹.
- ë¬¸ìì—´ì€ ê¼­ í°ë”°ì˜´í‘œ(")ë¥¼ ì´ìš©í•´ ê°ì‹¸ì£¼ì–´ì•¼ í•¨!!!!

### 2. íŠ¹ì • ê¸°ê°„ í˜¹ì€ íŠ¹ì • ë‚ ì§œì˜ ì „ ë˜ëŠ” ì´í›„ì˜ rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ

In [29]:
#6ì›” ì²«ì§¸ ì£¼ì— ëŒ€ì¶œí•œ ì‚¬ëŒë“¤ì˜ ì •ë³´
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ëŒ€ì¶œì¼ >= "2020-06-01" AND ëŒ€ì¶œì¼ <= "2020-06-07" ;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')

In [30]:
#ë¶€ë“±í˜¸ ì‚¬ìš© ë§ê³ ë„ BETWEENì„ ì‚¬ìš©í•  ìˆ˜ë„ ìˆìŒ.
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ëŒ€ì¶œì¼ BETWEEN "2020-06-01" AND "2020-06-07" ;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')

### 3. íŠ¹ì • ìˆ«ì ì´ìƒ ë˜ëŠ” ì´í•˜ì˜ rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ

In [31]:
#ëŒ€ì¶œì¼ìˆ˜ê°€ 5ì¼ì„ ì´ˆê³¼í•˜ëŠ” ì‚¬ëŒë“¤ì˜ ì •ë³´
for row in c.execute('SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 WHERE ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 '):
  print(row)

('101', 'ë¬¸ê°•íƒœ', '2020-06', '20ì¼', 20)
('102', 'ê³ ë¬¸ì˜', '2020-06', '10ì¼', 10)
('103', 'ë¬¸ìƒíƒœ', '2020-06', '8ì¼', 8)

### 4. NULL ì¡°ê±´ ë‹¤ë£¨ëŠ” ë°©ë²•

In [32]:
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ë°˜ë‚©ì¼ IS NOT NULL;'):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')

In [33]:
for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ë°˜ë‚©ì¼ IS NULL;'):
  print(row)

('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('104', 'ê°•ê¸°ë‘¥', None, None, None)

In [34]:
for row in c.execute('SELECT ì´ë¦„ FROM ë„ì„œëŒ€ì¶œë‚´ì—­ WHERE ì´ë¦„ LIKE "%íƒœ" AND ëŒ€ì¶œì¼ >= "2020-06-19" AND ID < 102 AND ë°˜ë‚©ì¼ IS NOT NULL;') :
    print(row)

('ë¬¸ê°•íƒœ',)

## Join
- INNER JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸”ì˜ êµì§‘í•©ì„ ì¡°íšŒ
- LEFT JOIN : (ê¸°ì¤€ì€ A í…Œì´ë¸”) A í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ B í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- RIGHT JOIN : (ê¸°ì¤€ì€ B í…Œì´ë¸”) B í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ A í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- FULL JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸” ëª¨ë‘ì—ì„œ ë¹ íŠ¸ë¦¬ëŠ” ë¶€ë¶„ ì—†ì´ ëª¨ë‘ ì¡°íšŒ

In [35]:
import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

### 1. INNER JOIN

In [36]:
print('ëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”')
for row in c.execute('SELECT * FROM ëŒ€ì¶œë‚´ì—­;'):
  print(row)
print('')
print('ë„ì„œëª… í…Œì´ë¸”')
for row in c.execute('SELECT * FROM ë„ì„œëª…;'):
  print(row)

ëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”
('101', 'ë¬¸ê°•íƒœ', 'aaa')
('102', 'ê³ ë¬¸ì˜', 'bbb')
('102', 'ê³ ë¬¸ì˜', 'fff')
('103', 'ë¬¸ìƒíƒœ', 'ccc')
('104', 'ê°•ê¸°ë‘¥', None)

ë„ì„œëª… í…Œì´ë¸”
('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

In [37]:
#ë„ì„œ IDë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì—°ê²°
query = '''
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
INNER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID;
'''
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('102', 'ê³ ë¬¸ì˜', 'bbb', 'ì¢€ë¹„ì•„ì´')
('103', 'ë¬¸ìƒíƒœ', 'ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')

### - LEFT JOIN
- ì™¼ìª½ A í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¥¸ìª½ í…Œì´ë¸”ì„ ë¶™ì´ëŠ” ê²ƒ.
- A í…Œì´ë¸”ì— ìˆëŠ” ë°ì´í„°ëŠ” ëª¨ë‘ ê°€ì ¸ì˜¤ê³  B í…Œì´ë¸”ê³¼ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì˜¤ë¥¸ìª½ì— ë¶™ì´ê²Œ ë¨.

In [38]:
query = '''
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
LEFT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID;
'''
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('102', 'ê³ ë¬¸ì˜', 'bbb', 'ì¢€ë¹„ì•„ì´')
('102', 'ê³ ë¬¸ì˜', 'fff', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('104', 'ê°•ê¸°ë‘¥', None, None)

In [39]:
query = '''
SELECT B.*, A.ID, A.ì´ë¦„ 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
RIGHT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID;
'''
for row in c.execute(query):
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [40]:
query = '''
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
FULL OUTER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
ORDER BY ë„ì„œID;
'''
for row in c.execute(query):
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

-  SQLiteì—ì„œëŠ” RIGHT JOINê³¼ FULL OUTER JOINë¥¼ ì§€ì›í•˜ì§€ ì•ŠìŒ.

### - ì¤‘ì²© ì§ˆì˜(Nested Query)
-  LEFT JOINì„ ì‚¬ìš©í•œ ì„œë¸Œì¿¼ë¦¬ì˜ ê²°ê³¼ Cë¡œë¶€í„° ë‹¤ì‹œ ì¿¼ë¦¬ë¥¼ ìˆ˜í–‰í•˜ëŠ” í˜•íƒœë¡œ ì¿¼ë¦¬ê°€ ì¤‘ì²©ë˜ì–´ ìˆìŒ.

In [41]:
query = '''
SELECT C.ì´ë¦„, COUNT(*) ëŒ€ì¶œê±´ìˆ˜
FROM (
	SELECT A.*, B.ë„ì„œëª… 
	FROM ëŒ€ì¶œë‚´ì—­ AS A 
	LEFT JOIN ë„ì„œëª… AS B
	ON A.ë„ì„œID = B.ë„ì„œID ) C
GROUP BY C.ì´ë¦„;
'''
for row in c.execute(query):
  print(row)

('ê°•ê¸°ë‘¥', 1)
('ê³ ë¬¸ì˜', 2)
('ë¬¸ê°•íƒœ', 1)
('ë¬¸ìƒíƒœ', 1)

## ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ

### 1. IFNULL
- NULL ëŒ€ì‹  ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë°”ê¾¸ì–´ ì¶œë ¥.
- IFNULL(ê°’1, ê°’2)ì—ì„œ ê°’1 í•­ëª©ì´ NULLì¸ì§€ ì²´í¬í•´ì„œ NULLì´ë©´ ê°’2ë¥¼ ëŒ€ì‹ í•˜ê³  ì´ì™¸ì˜ ê²½ìš°ì—ëŠ” ê°’1 ê·¸ëŒ€ë¡œ ë°˜í™˜í•¨.

In [42]:
query = '''
SELECT A.*, IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ') AS ë„ì„œëª…
	FROM ëŒ€ì¶œë‚´ì—­ AS A 
	LEFT JOIN ë„ì„œëª… AS B
	ON A.ë„ì„œID = B.ë„ì„œID;
'''
for row in c.execute(query):
  print(row)

('101', 'ë¬¸ê°•íƒœ', 'aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('102', 'ê³ ë¬¸ì˜', 'bbb', 'ì¢€ë¹„ì•„ì´')
('102', 'ê³ ë¬¸ì˜', 'fff', 'ë„ì„œëª…ë¯¸ìƒ')
('103', 'ë¬¸ìƒíƒœ', 'ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('104', 'ê°•ê¸°ë‘¥', None, 'ë„ì„œëª…ë¯¸ìƒ')

### 2. CASE
- IFë¬¸ì²˜ëŸ¼ ì¡°ê±´ì— ë”°ë¼ ë‹¤ì–‘í•œ ì¶œë ¥ì´ ê°€ëŠ¥í•˜ë„ë¡ í•´ì£¼ëŠ” ë§¤ìš° ê°•ë ¥í•˜ê³  ìœ ìš©í•œ í•¨ìˆ˜.

In [43]:
query = '''
SELECT ì´ë¦„, 
CASE WHEN ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 
    THEN 'ê¸°ê°„ì´ˆê³¼' 
    ELSE 'ê¸°ê°„ë‚´' 
END AS ëŒ€ì¶œê¸°ê°„
FROM (
    SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
    FROM ë„ì„œëŒ€ì¶œë‚´ì—­2
);
'''
for row in c.execute(query):
  print(row)

('ë¬¸ê°•íƒœ', 'ê¸°ê°„ì´ˆê³¼')
('ê³ ë¬¸ì˜', 'ê¸°ê°„ì´ˆê³¼')
('ë¬¸ìƒíƒœ', 'ê¸°ê°„ì´ˆê³¼')
('ê°•ê¸°ë‘¥', 'ê¸°ê°„ë‚´')

### ì¢…í•©
- 'ë„ì„œëª…' í…Œì´ë¸”ê³¼ 'ë„ì„œëŒ€ì¶œë‚´ì—­' í…Œì´ë¸”ì„ ë„ì„œIDë¥¼ keyë¡œ í•˜ì—¬ LEFT JOINí•´ì„œ |ë„ì„œID|ë„ì„œëª…|ëŒ€ì¶œê±´ìˆ˜|ëŒ€ì¶œìƒíƒœ| í•­ëª©ì„ ì¶œë ¥í•˜ëŠ” ì¿¼ë¦¬ë¥¼ ì‘ì„±.
- ëŒ€ì¶œê±´ìˆ˜ : ë„ì„œë³„ë¡œ ë„ì„œëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”ì— ëŒ€ì¶œì¼ìê°€ ìˆìœ¼ë©´ ëŒ€ì¶œê±´ìˆ˜ 1ë¡œ ë³¸ë‹¤. ì—¬ëŸ¬ ë²ˆ ëŒ€ì¶œë˜ì—ˆìœ¼ë©´ ëŒ€ì¶œëœ íšŒìˆ˜ë§Œí¼ í•©ì‚°ëœë‹¤.
- ëŒ€ì¶œìƒíƒœ : ëŒ€ì¶œì¼ìëŠ” NOT NULLì¸ë° ë°˜ë‚©ì¼ìê°€ NULLì¸ ë„ì„œëŒ€ì¶œë‚´ì—­ì´ ìˆìœ¼ë©´ 'ëŒ€ì¶œì¤‘', ê·¸ë ‡ì§€ ì•Šê³  ëª¨ë“  ëŒ€ì¶œë‚´ì—­ì— ë°˜ë‚©ì¼ìê°€ ëª…ì‹œë˜ì–´ ìˆìœ¼ë©´ 'ë³´ê´€ì¤‘'ìœ¼ë¡œ ë³¸ë‹¤.

In [44]:
query = '''
SELECT C.ë„ì„œID, C.ë„ì„œëª…, SUM(C.ëŒ€ì¶œê±´ìˆ˜) AS ëŒ€ì¶œê±´ìˆ˜, 
CASE SUM(C.ëŒ€ì¶œê±´ìˆ˜)-SUM(C.ë°˜ë‚©ê±´ìˆ˜) WHEN 0 THEN 'ë³´ê´€ì¤‘' ELSE 'ëŒ€ì¶œì¤‘' 
END AS ëŒ€ì¶œìƒíƒœ 
FROM ( 
SELECT A.ë„ì„œID, A.ë„ì„œëª…, CASE WHEN B.ëŒ€ì¶œì¼ IS NULL THEN 0 ELSE 1 END AS ëŒ€ì¶œê±´ìˆ˜, CASE WHEN B.ë°˜ë‚©ì¼ IS NULL THEN 0 ELSE 1 END AS ë°˜ë‚©ê±´ìˆ˜ 
FROM ë„ì„œëª… AS A LEFT JOIN ë„ì„œëŒ€ì¶œë‚´ì—­ AS B ON A.ë„ì„œID = B.ë„ì„œID ) AS C GROUP BY C.ë„ì„œID, C.ë„ì„œëª… ;
'''

for row in c.execute(query):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„', 1, 'ë³´ê´€ì¤‘')
('bbb', 'ì¢€ë¹„ì•„ì´', 1, 'ëŒ€ì¶œì¤‘')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „', 2, 'ë³´ê´€ì¤‘')
('ddd', 'ë¹¨ê°„êµ¬ë‘', 1, 'ëŒ€ì¶œì¤‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€', 0, 'ë³´ê´€ì¤‘')